Proyecto4Final/Service References/verificaCliente/WsCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registrarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerClientes">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificarExistenciaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificarExistenciaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificarExistenciaClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registrarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarCliente" />
  </wsdl:message>
  <wsdl:message name="registrarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerClientes" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="verificarExistenciaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:verificarExistenciaCliente" />
  </wsdl:message>
  <wsdl:message name="verificarExistenciaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:verificarExistenciaClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WsClienteSoap">
    <wsdl:operation name="registrarCliente">
      <wsdl:input message="tns:registrarClienteSoapIn" />
      <wsdl:output message="tns:registrarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:input message="tns:ObtenerClientesSoapIn" />
      <wsdl:output message="tns:ObtenerClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarExistenciaCliente">
      <wsdl:input message="tns:verificarExistenciaClienteSoapIn" />
      <wsdl:output message="tns:verificarExistenciaClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsClienteSoap" type="tns:WsClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarCliente">
      <soap:operation soapAction="http://tempuri.org/registrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap:operation soapAction="http://tempuri.org/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarExistenciaCliente">
      <soap:operation soapAction="http://tempuri.org/verificarExistenciaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsClienteSoap12" type="tns:WsClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarCliente">
      <soap12:operation soapAction="http://tempuri.org/registrarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap12:operation soapAction="http://tempuri.org/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarExistenciaCliente">
      <soap12:operation soapAction="http://tempuri.org/verificarExistenciaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsCliente">
    <wsdl:port name="WsClienteSoap" binding="tns:WsClienteSoap">
      <soap:address location="http://23.100.70.231:8087/WsCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WsClienteSoap12" binding="tns:WsClienteSoap12">
      <soap12:address location="http://23.100.70.231:8087/WsCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>