Proyecto4Final/Service References/validarTarj/validaTarjeta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://paquete/" targetNamespace="http://paquete/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conexion" type="tns:conexion" />
  <xs:element name="conexionResponse" type="tns:conexionResponse" />
  <xs:element name="validaTC" type="tns:validaTC" />
  <xs:element name="validaTCResponse" type="tns:validaTCResponse" />
  <xs:complexType name="conexion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="conexionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaTC">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element name="arg3" type="xs:int" />
      <xs:element name="arg4" type="xs:int" />
      <xs:element name="arg5" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaTCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>